/* Updated Colors - Purple Theme */
/* {
    --light-purple: #d6b3ff;
    --soft-lavender: #b088f9;
    --deep-purple: #7d5ba6;
    --dark-purple: #593196;
    --night-purple: #3a1f5d;
    --white: #f9f9f9;
    --grayish-white: #f1f2f6;
} */

.root {
    -fx-font-family: "Arial", sans-serif;
    -fx-background-color: #f1f2f6;
    -fx-padding: 10;
}

.sideBar {
    -fx-background-color: linear-gradient(to top, #b088f9, #d6b3ff, #593196);
    -fx-border-radius: 15;
    -fx-background-radius: 0 10 10 0;
    -fx-padding: 10;
}

.sideBarButtons{
    -fx-background-color: transparent;
    -fx-min-width: 25px;
    -fx-min-height: 25px;
    -fx-max-width: 25px;
    -fx-max-height: 25px;
    -fx-alignment: center;
    -fx-cursor: hand;
}

.iconsButtons {
    -fx-background-color: #d6b3ff;
    -fx-background-radius: 40%;
    -fx-border-color: #3a1f5d;
    -fx-border-width: 1;
    -fx-border-radius: 40%;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.5, 0, 1);
}
.iconsButtons:hover {
    -fx-background-color: #b088f9;
    -fx-border-color: #7d5ba6;
}

.popup {
    -fx-background-color: white;
    -fx-border-color: #3a1f5d;
}

.title {
    -fx-text-fill: #7d5ba6;
}

.subtitle, .bodyText, .smallText {
    -fx-text-fill: #3a1f5d;
}

.primaryButton {
    -fx-background-color: #593196;
    -fx-text-fill: #f9f9f9;
}
.primaryButton:hover {
    -fx-background-color: #3a1f5d;
}

.secondaryButton {
    -fx-background-color: #d6b3ff;
    -fx-text-fill: #593196;
    -fx-border-color: #3a1f5d;
}
.secondaryButton:hover {
    -fx-background-color: #b088f9;
    -fx-text-fill: #f9f9f9;
}

.card {
    -fx-background-color: #f9f9f9;
    -fx-border-color: #7d5ba6;
}

.textField {
    -fx-background-color: #f1f2f6;
    -fx-border-color: #593196;
}

.textField:focused {
    -fx-border-color: #7d5ba6;
}



.contactMessagesListView {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 5px;
}

.contactMessagesListView .list-cell {
    -fx-background-color: transparent;
    -fx-padding: 8px;
    -fx-border-color: transparent;
    -fx-effect: none;
}

/* Remove selection, hover, and focus effects completely */
.contactMessagesListView .list-cell:selected,
.contactMessagesListView .list-cell:focused,
.contactMessagesListView .list-cell:hover {
    -fx-background-color: transparent !important;
    -fx-border-color: transparent !important;
    -fx-effect: none !important;
}

/* Hide the scrollbar completely */
.contactMessagesListView .scroll-bar {
    -fx-max-width: 5;
}

/////
